<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @friends %>
  <% @friends.each do |friend| %>
    <div class="card card-header results-block">
      <strong>Name: </strong> <%= friend.full_name %>
      <strong>Email: </strong> <%= friend.email %>
      <strong>Profile: </strong> <%= link_to "View Profile", user_path(friend), class: "btn btn-s btn-success"%>
      <% if current_user.not_friends_with(friend.id) %>
      <%= link_to 'Follow friend?', friendships_path(friend: friend.id),
                              class: "btn btn-sm btn-success", method: :post %>
      <% else %>
      <span class="badge badge-secondary">
      You are already friends
      </span>
      <% end %>
    </div>
  <% end %>
<% end %> 