<div class="results-block">
  <%= render 'layouts/messages' %>
</div>


 
    <div class="card card-header results-block">
      <strong>Name: </strong> <%= @user.full_name %>
      <strong>Email: </strong> <%= @user.email %>
      <% if current_user.not_friends_with(@user.id) %>
      <%= link_to 'Follow friend?', friendships_path(friend: @user.id),
                              class: "btn btn-sm btn-success", method: :post %>
      <% else %>
      <span class="badge badge-primary">
      You are already friends
      </span>
      <% end %>
    </div>
    <% if !@tracked_stocks.empty? %>
    <%= render 'stocks/list' %>
    <% else %>
    <p class="lead">This user is not tracking any stocks</p>
    <% end %>

